img {
    max-width: 200px;
}

h1 {
    color: coral;
    background-color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
}

h2 {
    color: cornflowerblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

h3 {
    color: darkblue
}

h4 {
    color: darkgoldenrod;
}

h5 {
    color: tomato;
}

h6 {
    color: teal;
}
body {
    background-color:rgb(224, 224, 224);
}
