img {
    max-width: 400px;
}

.imageContainer{
    position: relative;
}

.imageContainer .imageCaption{
    position:absolute;
    background:white;
    border:1px solid black;
    top:10px;
    left: 10px;
    padding:10px;
}

.imageContainer .imageCaptionSecond{
    position:absolute;
    background:white;
    border:1px solid black;
    top:50px;
    left: 10px;
    padding:10px;
}

main{
    max-width:75%;
    float:left;
}
aside{
    max-width:25%;
    float:left;
}
footer{
    clear:both;
} 