img {
    max-width: 200px;
}

h1 {
    color: coral;
    background-color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
}

h2 {
    color: cornflowerblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

h3 {
    color: darkblue
}

h4 {
    color: darkgoldenrod;
}

h5 {
    color: tomato;
}

h6 {
    color: teal;
}
body {
    background-color:rgb(224, 224, 224);
}
p em{
    font-size: 20px;
    color: indianred;
    background-color: lime;
}

p strong{
    font-size: 20px;
    color: rgb(86, 10, 228);
    background-color: rgb(255, 255, 255);
}
ol li strong{
    font-size: 30px;
    color: rgb(228, 10, 10);
    background-color: rgb(45, 12, 235);
}
ul li strong{
    font-size: 30px;
    color: lime;
}

.yellow {
    background-color: rgb(238, 255, 0);
}